<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Recipes Show Page</h1>
        <div class="recipeTitle"><%=recipe.title; %></div>
        <div class="imageDiv"><img src="<%=recipe.img1; %>"></div>
        <div class="imageDiv"><img src="<%=recipe.img2; %>"></div>
        <div class="imageDiv"><img src="<%=recipe.img3; %>"></div>
        <div class="linksDiv"><a href="<%=recipe.link1; %>">Recipe Link</a></div>
        <div class="linksDiv"><a href="<%=recipe.link2; %>">Recipe Link</a></div>
        <div class="recipeDescription"><%=recipe.recipeEntry; %></div>
        <div class="checkboxValues">
            <% if(recipe.healthGoals === true){ %>
            This meal was in line with your health goals!
        <% } %>
            <% if(recipe.submitPublicFeed === true){ %>
            You have chosen to submit this to the public feed.
        <% } %>
        <nav>
            <a href="/recipes">Back to Recipe Index</a>
        </nav>

<%- include('../partials/footer.ejs') %>


